.hg/*
.hg*
.vs/*
build/*
distribution/*
out/*
CMakeSettings.json
compile_commands.json
diff_list
PVS-Studio.json
lib/source_lib_0.cpp
lib/source_lib_1.cpp
lib/source_lib_2.cpp
source_0.cpp
source_1.cpp
source_2.cpp
*.html
*.always
StaticAnalysisResult.json
